* {
     box-sizing: border-box;
}

html, body {
     height: 100vh;
     margin: 0;
     padding: 0;
     background-color: #ecebeb
}

body {
     font-family: 'Work Sans', Verdana, sans-serif;
     overflow: hidden;
}

.container {
     display: flex;
     justify-content: center;
     align-items: center;
     position: relative;
     width: 100vw;
     height: 100vh;
}

.container #canvas, .overlay, .morpheus {
     position: absolute;
}

.morpheus {
     align-self: end;
     max-width: 38rem;
     width: 100%;
     filter: drop-shadow(0 0 15px #000000);
}

.overlay {
     background: #0000008c;
     width: 100vw;
     height: 100vh;
}

#countdown {
     display: flex;
}

.counter {
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     width: 11rem;
     height: 11rem;
     background-color: #ffff;
     margin: 0 .5rem;
     border-radius: .5rem;
}

.time, .text {
     color: #353535;
}

.time {
     font-size: 3.5rem;
     font-weight: 600;
}

.text {
     font-size: 1.5rem;
     font-weight: 400;
}

.inactive {
     visibility: hidden;
}

.active {
     visibility: visible;
}

@media screen and (max-width: 767px){

     .counter {
          width: 5.5rem;
          height: 5.5rem;
          margin: .1rem;
     }

     .time {
          font-size: 2rem;
     }

     .text {
          font-size: .9rem;
     }
}

@media screen and (max-width: 375px){

     .counter {
          width: 4.9rem;
          height: 4.9rem;
     }

     .time {
          font-size: 1.5rem;
     }

     .text {
          font-size: .9rem;
     }
}